.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.half {
    background-image: url('./assets/img/login.png');
    background-size: cover;
    width: 100%;
    height: auto !important;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.add {
    background-color: rgba(22s5, 234, 247, 0.89);
    border-radius: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 4%;
    height: 70vh;
}

.creat {
    background-color: rgba(22s5, 234, 247, 0.89);
    border-radius: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 4%;
    height: auto;
    overflow: hidden;
}

.img-fluid {
    width: 100%;
}

.inp {
    border-radius: 8px !important;
    height: 45px !important;
    width: 400px !important;
    box-shadow: 0px 4px 4px rgba(122, 122, 122, 0.25);
}

.forget {
    padding-right: 16% !important;
}

.myNav {
    background: linear-gradient(270.58deg, #64C5EE -3.5%, rgba(255, 255, 255, 0) 101.45%), #7389FF;
    color: #a3a8af;
}

.animateb {
    animation: swimingbutton 2s infinite alternate;
}

@keyframes swimingbutton {
    0% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(10px);
    }
}

.half-create {
    /* background-image: url('./assets/img/create.png'); */
    padding-left: 0px !important;
}

.inpu {
    border-radius: 8px !important;
    height: 45px !important;
    box-shadow: 0px 4px 4px rgba(122, 122, 122, 0.25);
}

.tb {
    border-radius: 12px;
}

.tb>thead {
    height: 20px;
}

.decorateTable {
    background: linear-gradient(270deg, #319CFF -3.57%, rgba(255, 255, 255, 0) 72.39%), #63BDFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: 8%;
    margin-right: 8%;
    padding-bottom: 3%;
    border-radius: 14px;
}

.crad {
    margin-top: 2%;
    margin-right: 2%;
    text-align: center;
    background-image: linear-gradient(to right, #6e70ff, #5ab5ff);
    border-radius: 10px;
    transition: 0.5s;
}

.crad:hover {
    margin-top: 2%;
    margin-right: 2%;
    text-align: center;
    background-image: linear-gradient(to right, #6e70ff, #5ab5ff);
    border-radius: 10px;
    transition: 0.5s;
    transform: scale(1.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.crad1 {
    margin-top: 2%;
    margin-right: 2%;
    text-align: center;
    background-image: linear-gradient(to right, #ffc56e, #ff655a);
    border-radius: 10px;
}

.crad1:hover {
    margin-top: 2%;
    margin-right: 2%;
    text-align: center;
    background-image: linear-gradient(to right, #ffc56e, #ff655a);
    border-radius: 10px;
    transition: 0.5s;
    transform: scale(1.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.crad2 {
    margin-top: 2%;
    margin-right: 2%;
    text-align: center;
    background-image: linear-gradient(to right, #6effaa, #9cff5a);
    border-radius: 10px;
}

.crad2:hover {
    margin-top: 2%;
    margin-right: 2%;
    text-align: center;
    background-image: linear-gradient(to right, #6effaa, #9cff5a);
    border-radius: 10px;
    transition: 0.5s;
    transform: scale(1.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.crad3 {
    margin-top: 2%;
    margin-right: 2%;
    text-align: center;
    background-image: linear-gradient(to right, #ff6e6e, #5ab5ff);
    border-radius: 10px;
}

.crad3:hover {
    margin-top: 2%;
    margin-right: 2%;
    text-align: center;
    background-image: linear-gradient(to right, #ff6e6e, #5ab5ff);
    border-radius: 10px;
    transition: 0.5s;
    transform: scale(1.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.crad4 {
    margin-top: 2%;
    margin-right: 2%;
    text-align: center;
    background-image: linear-gradient(to right, #6e9cff, #5ab5ff);
    border-radius: 10px;
}

.crad4:hover {
    margin-top: 2%;
    margin-right: 2%;
    text-align: center;
    background-image: linear-gradient(to right, #6e9cff, #5ab5ff);
    border-radius: 10px;
    transition: 0.5s;
    transform: scale(1.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cen {
    align-content: center !important;
    padding-left: 18% !important;
}

.chek {
    border: 10px solid #3d9970 !important;
    animation: confirm 0.15s linear;
}

@keyframes confirm {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.95);
    }
    75% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}

.title {
    margin-left: 7%;
    font-family: 'Cinzel', serif;
}


/* The container must be positioned relative: */

.custom-select {
    position: relative;
    font-family: Arial;
}

.custom-select select {
    display: none;
    /*hide original SELECT element: */
}

.select-selected {
    background-color: DodgerBlue;
}


/* Style the arrow inside the select element: */

.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}


/* Point the arrow upwards when the select box is open (active): */

.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}


/* style the items (options), including the selected item: */

.select-items div,
.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}


/* Style items (options): */

.select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}


/* Hide the items when the select box is closed: */

.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

.custom-footer {
    background-color: #282c34;
    color: rgb(255, 255, 255);
    padding-left: 100px;
}

.ava {
    width: 150px !important;
    height: 150px !important;
    border-radius: 50%;
    border: #ffffff 2px solid;
    transition: 1s all;
    font-family: 'Cormorant Garamond', serif;
}

.ava:hover {
    transition: 1s all;
    transform: rotate(360deg) scale(1.3);
}